@import 'base';

$drawerWidthOpen: 210px;
$drawerWidthClose: 60px;

.list {

}

.drawerInner {
    // align-items: center;
    // text-align: center;
    width: 100%
}

.drawerHeader {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.drawerPaper {
    position: relative;
    height: 100%;
    width: $drawerWidthOpen;
}

.drawerPaperClose {
    width: $drawerWidthClose;
    overflow-x: 'hidden';
 
}

.drawerFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    //background-color: aqua;
    text-align: center
}

.avatarLarge {
    width: 80px !important;
    height: 80px !important;
    margin-bottom: 10px
}

.avatar {
   width: 30px  !important;
   height: 30px  !important;
}

::-webkit-scrollbar {
    display: none;
}

